table{
  width: 100%;
  border: 3px solid #ddd;
  font-size: 17px;
  border-collapse: collapse;
}

tr{
  height: 40px;
}

td{
  border: 1px solid #ddd;
}

#tabela div{
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#header{
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

#l1, #l3{
  background-color: #f2f2f2;
}


#l1:hover, #l2:hover, #l3:hover, #l4:hover{
  background-color: #d7d4d4;
}
